.badge {
  .info {
    border-left: 8px solid var(--info-badge-color);
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .description {
      max-width: 572px;
      text-align: end;
      text-wrap: pretty;
      font-size: 16px;

      @media (min-width: 500px) {
        font-size: 24px;
      }
    }
  }
}

.specialSpan {
  color: var(--special-span);
  font-weight: bold;
}

.badgeName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--info-badge-color);

  .span {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
  }
}
