.picture {
	position: absolute;
	display: flex;
	bottom: 0;
	background-color: transparent;
	padding: 0.5em;
	border-radius: 0.2em;
	transition: background-color 0.4s ease-in-out;
}

/*@media (min-width: 600px) {*/
/*	.picture {*/
/*		display: block;*/
/*	}*/
/*}*/
