.header {
	height: 60px;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #0FF1B3;
	margin: 0 auto;
	
	.nav {
		width: 100%;
		max-width: 390px;
		margin: 0 auto;
		
		.menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			
			li {
				list-style: none;
				padding: 4px 10px;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.3s ease;
				border-radius: 1rem;
				
				&:hover {
					a {
						color: #DC143C;
					}
				}
				
				a {
					font-weight: 900;
					font-size: 1.2rem;
		
					span {
						color: #0FF1B3;
					}
				}
			}
		}
	}
}

.active {
	& a {
		color: #0FF1B3;
	}
}